.home-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height:100vh;
  color:var(--main-link);
  background-color: var(--main-color);
  background-size : cover;
}

.home-component h2 {
    font-size : 22px;
    font-weight : bold; 
    max-width : 90%;
    margin: 0 0 30px 0;
    text-shadow:1px 1px 2px var(--main-link);

}