.nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
}

.nav li {
  padding: 5px;
  margin: 10px;
}

@media only screen and (max-width: 300px) {
  .nav li {
    margin: 0;
  }
}
@media only screen and (max-width: 250px) {
  .nav li {
    font-size: 14px;
  }
}
.nav li .nav-link {
  color: var(--main-light-2);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 2px var(--main-dark);
}
.nav li .nav-link:hover {
  color: var(--main-link);
}
