.component_recordingManager {
  button.recording {
    width: 70px;
    height: 30px;
    border: 2px solid red;
    margin: 6%;
    border-radius: 4px;
    background: red !important;
    font-weight: bold;
    box-shadow: 1px 1px 1px #ee5858, -1px -1px 1px #f96363;
    //transition: 0.1s;
  }
  .recordedNotes {
    display: block;
    color: white;
    border: solid 1px var(--main-light-2);
    background-color: var(--main-link);
    margin: 10px;
  }

  // button.recording:hover {
  //   box-shadow: inset 4px 4px 10px #5b5b5b, inset -4px -4px 2px #ffffff;
  //   color: var(--main-link);
  //   background-color: var(--main-light-2);
  //   outline: none;
  // }

  button.recordButton {
    width: 70px;
    height: 30px;

    margin: 2%;
    background-color: #ffffff;
    border-radius: 4px;

    transition: 1s;
  }

  button.recordButton:hover {
    box-shadow: inset 4px 4px 10px #ffffff, inset -4px -4px 2px --shadow-dark-2;
    color: black;
    background-color: red;
    outline: none;
  }

  button.playButton {
    width: 70px;
    height: 30px;
    font-variant: small-caps;
    margin: 2%;
    border-radius: 4px;
    background: #e3e3e3;

    transition: 1s;
  }

  button.playButton:hover {
    box-shadow: inset 4px 4px 10px #5b5b5b, inset -4px -4px 2px #ffffff;
    color: var(--main-link);
    background-color: var(--main-light-2);
    outline: none;
  }

  button.clearButton {
    width: 70px;
    height: 30px;

    font-variant: small-caps;
    margin: 2%;
    border-radius: 4px;
    background: #e3e3e3;

    transition: 500ms;
  }

  button.clearButton:hover {
    box-shadow: inset 4px 4px 10px #5b5b5b, inset -4px -4px 2px #0d9aec;
    background-color: rgb(24, 163, 243);
    outline: none;
  }
}
