@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  padding: 80px;
  background-color: var(--main-dark);
  font-family: "Lato";
  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--main-light);
    font-variant: small-caps;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }
}

.App {
  text-align: center;
}

.midi-tag {
  color: white;
}
